<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mybrary</title>
</head>

<body>

    <br>
    this is the navigation, it's in all the ejs files.
    <%- include('../partials/header') %>

        <!-- content of everything inside our application. includes every single other one of our pages right here in this body page. We only have to create one boilerplate html page -->
        <%- body %>
            <br>

</body>

</html>